.nav-bar{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;;
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
}
#frikana-logo{
    margin-left: 5rem;
    padding-top: 0;

}
.list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 16rem;
    > li{
        padding: 1rem;
    }
    
}

 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

a:hover{
    background-color: white;
    border-bottom: 3px solid black;
    transition: .5s ease;

}
#home{
    position: relative;
    min-height: 100vh;
}
img{
    display: block;
    max-width: 100%;
}
h1{
    text-align: center;
    padding-top: 3rem;
    font-family: "Atkinson Hyperlegible Next";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
}
.plane{
    min-height: 100vh;
    z-index: -1;
    background-image: url('/assets/images/biplane1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*.inner-plane{
    background-color: red;
    width: 65vw;
    height: 40vh;
    margin-top: 0rem;
    margin-left: 2rem;
    padding-top: 1rem;
}*/
.content{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom:1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Maven Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    color: black;
}
#services{
    padding-top: 1rem;
    padding-left: 1rem;
    height: auto;
}
.heading-2{
    text-align: center;
    padding-bottom: 2rem;
    >.p1{
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }  
    .H2{
        font-family: "Atkinson Hyperlegible Next";
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 35px;
    }
    .p2{
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }
}
.permits{
    padding-top: 1rem;
}
.permit-pic{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 1px;
    padding-left: 0rem;
    padding-top: 1rem;
    padding-bottom: 5rem;

}
#pic-11{
    margin-left: -1rem;
}
.words{
    scale: .8; opacity:0;
    animation: fade-in1 linear forwards;
    animation-timeline: view();
    animation-range: entry;
    width: 800px;
    >#one{
        margin-top: 5px;
        padding-left: 16px;
        width: 3vw;
        border-radius: 50px;
        font-family: "Montserrat", serif;
        background-color: black;
        color: white;

    }
    h3{
        font-family: "Atkinson Hyperlegible Next";
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
    
    }
    .p3{
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
    }
    .p4{
        font-family: "Atkinson Hyperlegible Next";
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;

    }
}
@keyframes fade-in1{
    to {scale: 1; opacity:1;}
}

.side-pics{
    display: flex;
    flex-wrap: wrap;
    padding-top: 7rem;
    padding-left: 9rem;
    scale: .8; opacity:0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
    >.pic-1{
        margin-right: -1rem;
        width: 15vw;
        height: 55vh;
        border-radius: 100px;

    }
  
    .pic-2{
        margin-top: -6rem;
        margin-left: -3rem;
        width: 15vw;
        height: 55vh; 
        border-radius: 100px;
    }
    .pic-3{
        margin-left: -3rem;
        width: 15vw;
        height: 55vh; 
        border-radius: 100px;
    }
    img{
        margin-top: 1px;
        border-radius: 100px; 

    }
}@keyframes fade-in{

    to {scale: 1; opacity:1;}
}

#contacts{
    padding-top: 2rem;
    padding-left: 6rem;
    >h2{
        font-family:  "Maven Pro", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 25px;
    }
}
.main-reason{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 2rem;
>.reason-1{
    width: 25vw;
    height: 55vh;
    border-radius: 50px;
    background-color: whitesmoke;
}
}
.p5{
    font-family: "Atkinson Hyperlegible Next";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

}
.circle-1,.circle-2,.circle-3{
    border-radius: 100px;
    width: 10vw;
    height: 20vh;
    margin-left: 6rem;
    margin-top: 2rem;
    background-color: rgba(124, 179, 241, 0.582);
    >.fa-phone{
        margin:2.5rem 0 0 2.5rem ;
        font-size: 50px;
        color: white;
    }
    .fa-users{
        margin:2.3rem 0 0 2.3rem ;
        font-size: 50px;
        color: white;
    }
    .fa-plane{
        margin:2.5rem 0 0 2.8rem ;
        font-size: 50px;
        color: white;
   
    }
}
.circle-2{
    background-color: #289c43;
}
.circle-3{
    background-color: crimson;
}
.contact-line{
    margin-left: -6rem;
    margin-top: 1rem;
    height: 70vh;
    display: grid;
    grid-template-rows: 100px 100px;
    border-block-start:3px solid black;
}
.statement{
    padding-left: 1rem;
    padding-top: 1rem;
    font-family: "Maven Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
}
.last-line{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 1rem;
}
.side-1{
    padding-left: 2rem;
    > h2{
    font-family: "Atkinson Hyperlegible Next";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    padding-left: -1rem;
} ul > a{
    list-style: none;
    padding-left: -3rem;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

} li{
   padding-top: 0.2rem;
   padding-bottom: 0.5rem;
}

}
.side-2{
   > h2{
    font-family: "Atkinson Hyperlegible Next";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    padding-left: 1rem;
   }
}
.email,.media,.socials{
    cursor: pointer;
}
.email{
    position: absolute;
    padding-left: 1rem;
    padding-bottom: 3rem;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

}
.drop{
    z-index: -1;
    display: none;
    
    >a{
        font-size: 14px;
    }
    a:hover{
        font-size: 14px;
        transition: none;
        border-bottom: none;
        background-color: none;
      }
  
}
.email:hover .drop{
    display: block;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    cursor: pointer;
}
