<nav class="nav-bar">
    <div id="frikana-logo"><p>Frikana</p></div>
    <ul class="list">
        <li><a href="#home">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</nav>

<div class="home">
    
    <h1>Frikana Flight Services Limited</h1>
    <div class="plane">
        <div class="inner-plane"></div>
    </div>
    <div class="content">
     <p>we provide comprehensive flight support services tailored to meet the needs of commercial, private, and chartered flights. Our mission is to ensure that your journey is as seamless and efficient as possible, offering a wide range of services designed to support the aviation community. From securing overfly permits to providing premium fuel services, we handle the logistics, so you can focus on your flight.</p>
    </div>

</div>

<div class="services">
    <div class="heading-2">
        <p style="padding-bottom: 10px;">Services Offered</p>
        <h2 style="padding-bottom: 10px;">Fly With Confidence</h2>
        <p>Find the best services offered in the aviation industry</p>
    </div>

    <div class="permits">
        <div class="permit-pic">
        <div class="words">
            <p>01</p>
            <h3>Overfly Permits</h3>
            <p>Navigating the complexities of airspace regulations is critical for flight planning. Our Overfly Permit service takes the hassle out of acquiring the necessary permissions to operate over specific regions. Whether you are flying domestically or internationally, we ensure that your permits are issued promptly and in compliance with all local and international aviation regulations.</p>
        </div>
        <div class="side-pics">
            <div class="pic-1"></div>
            <div class="pic-2"></div>
            <div class="pic-3"></div>
        </div>
        </div>
    </div>
</div>